<div class="header">
  <div class="container">
    <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/baby-bottle.png" width="90">
    <h1>Something's Happened. Either the username isn't real or we've hit Twitter's rate limit</h1>
    <% if current_guest %>
      </br>
      <h2> Signed in as <%= current_guest.guestname %> </h2>
    <% end %>
  </div>
</div>

<div class = "section">

  <h1> You should know, we can only search 6,000 followers every 15 minutes </h1> <br>
  <div class="button">
    <h1>
      <%= button_to "Back to Base User", "/users/new", :method => "get" %>
      <% if current_guest %>
        <%= button_to "View All Your Data", "/users/local", :method => "get" %>
      <% end %>
      <%= button_to "View Current Global Data", "/users/all", :method => "get" %>
    </h1>
  </div>
</div>