<div class="header">
  <div class="container">
    <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/baby-bottle.png" width="90">
    <h1>Something's Happened. Either the username isn't real or we've hit Twitter's rate limit</h1>
  </div>
</div>

<div class = "section">

  <h1> You should know, we can only search 6,000 followers every 15 minutes </h1> <br>
  <div class="button">
    <h1>
      <%= button_to "Back to Base User", "/users/new", :method => "get" %>
      <%= button_to "View Current Matches", "/users/all", :method => "get" %>
    </h1>
  </div>
</div>